<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.GoodsCategoryMapper">
	
	<!-- 根據父級id獲取子級商品分類的數據列表 -->
	<!-- List<GoodsCategory> findByParent(Integer parentId) -->
	<select id="findByParent" resultType="cn.tedu.store.entity.GoodsCategory">
		select
			id,name
		from
			t_goods_category
		where
			parent_id=#{parentId}
		order by 
			sort_order desc
	</select>
	
</mapper>