<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">
	
	<!-- 插入用戶數據 -->
	<!-- Integer addnew(User user) -->
	<insert id="addnew" parameterType="cn.tedu.store.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user (
			username, password,
			salt,gender,
			phone,email,
			avatar,is_delete,
			created_user,created_time,
			modified_user,modified_time
		) values (
			#{username},#{password},
			#{salt},#{gender},
			#{phone},#{email},
			#{avatar},#{isDelete},
			#{createdUser},#{createdTime},
			#{modifiedUser},#{modifiedTime}
		)
	</insert>
	
	<!-- 更新密碼 -->
	<!-- Integer updatePassword(@Param("uid") Integer uid,@Param("password") String password,
	@Param("modifiedUser") String modifiedUser,@Param("modifiedTime") Date modifiedTime) -->
	<update id="updatePassword">
		update t_user
		set password=#{password},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where id=#{uid}
	</update>
	
	<!-- 更新用戶頭像 -->
	<!-- Integer updateAvatar(@Param("uid") Integer uid,@Param("avatar") String avatar, 
	@Param("modifiedUser") String modifiedUser, @Param("modifiedTime") Date modifiedTime) -->
	<update id="updateAvatar">
		update t_user 
		set avatar=#{avatar},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where id=#{uid}
	</update>
	
	<!-- 修改用戶資料(不含用戶名、密碼、頭像) -->
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		update 
			t_user
		set
			<if test="gender != null">
			gender=#{gender},
			</if>
			<if test="phone != null">
			phone=#{phone},
			</if>
			<if test="email != null">
			email=#{email},
			</if>
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		where 
			id=#{id}
	</update>
	
	<!-- 根據用戶名查詢用戶數據 -->
	<!-- 應用於:註冊、登錄 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername" resultType="cn.tedu.store.entity.User">
		select 
			id, username, password,
			salt, avatar, 
			is_delete isDelete
		from 
			t_user
		where 
			username=#{username}
	</select>
	
	<!-- 根據用戶id查詢用戶數據 -->
	<!-- User findById(Integer id) -->
	<select id="findById" resultType="cn.tedu.store.entity.User">
		select 
			username,gender,phone,email,password,salt,is_delete isDelete 
		from 
			t_user 
		where 
			id=#{id}
	</select>
	
</mapper>